<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--<appSettings>
		<add key="Host" value="smtp.gmail.com"/>
		<add key="Port" value="587"/>
    <add key="EnableSsl" value="true"/>
    <add key="Timeout" value="10"/>
    <add key="From" value="correosvalidar@gmail.com"/>
		<add key="Password" value="GPcorreosinvalidos2021*"/>
		<add key="Subject" value="Correo de prueba - No responder"/>
		<add key="Body" value="Se está validando que la dirección de correo  sea valida."/>
	</appSettings>-->
  <appSettings>
    <add key="Host" value="smtp.office365.com"/>
    <add key="Port" value="587"/>
    <add key="EnableSsl" value="true"/>
    <add key="Timeout" value="10"/>
    <add key="From" value="validarcorreos@hotmail.com"/>
    <add key="Password" value="mkrjzgxnpzfrwypm"/> 
    <add key="Subject" value="Correo de prueba - No responder"/>
    <add key="Body" value="Se está validando que la dirección de correo  sea valida."/>
  </appSettings>
</configuration>