<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MHCP.DGT.SUPPT.ValidaArchivoCetil.Program.Properties.Ajustes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <MHCP.DGT.SUPPT.ValidaArchivoCetil.Program.Properties.Ajustes>
            <setting name="PATH_FILE_LOCAL" serializeAs="String">
                <value>F:\\</value>
            </setting>
            <setting name="DIRECTORIO_EXTRACCION" serializeAs="String">
                <value>Borrador</value>
            </setting>
            <setting name="DIRECTORIO_ENVIAR_A_SUPPT" serializeAs="String">
                <value>ProcesadoExito</value>
            </setting>
            <setting name="DIRECTORIO_ERROR" serializeAs="String">
                <value>ProcesadoError</value>
            </setting>
            <setting name="USERNAME_FILESERVER" serializeAs="String">
                <value>s-cetil02</value>
            </setting>
            <setting name="PASSWORD_FILESERVER" serializeAs="String">
                <value>t1o6FFjNuu8NTQ</value>
            </setting>
            <setting name="PATH_FILE_SERVER" serializeAs="String">
                <value>\\MH-EXPRFSSA01.MHEXT.RED\GestionDocumental\MHCP_01GESTION\11_DGRESS\SUPPTPRUEBA\DOCUMENTOS\SUPPT_EXTERNO\Cetil\HistoriaLaboral</value>
            </setting>
            <setting name="URL_SERVER_POSTGRES" serializeAs="String">
                <value>192.168.249.6</value>
            </setting>
            <setting name="USER_SERVER_POSTGRES" serializeAs="String">
                <value>supptuser</value>
            </setting>
            <setting name="PASS_SERVER_POSTGRES" serializeAs="String">
                <value>S2U0p1pT9B*</value>
            </setting>
            <setting name="DB_SERVER_POSTGRES" serializeAs="String">
                <value>BDSuppt</value>
            </setting>
        </MHCP.DGT.SUPPT.ValidaArchivoCetil.Program.Properties.Ajustes>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>